* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--white-bg);
    font-family: 'Open Sans', sans-serif;
}

/* Navigation */
.nav_container {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 110px;
    margin-bottom: 4px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

nav ul {
    display: flex;
}

nav.logo {
    position: absolute;
    left: 10.94%;
    right: 69.69%;
    top: 1.8%;
    bottom: 87.94%;
}

/* Header */

.header_container {
    height: calc(100vh - 116px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--red);
    margin: 30px 160px 20px 160px;
}

header button {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;

    background: var(--red);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 12px 180px;
    margin: 25px 38px 0 38px;
}

header input {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey);

    opacity: 0.8;
    background: var(--white-bg);
    border: 1px solid var(--grey);
    border-radius: 40px;
    padding: 12px 270px 12px 20px;
    margin: 2px 38px 10px;
}

header label {

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;
    margin: 38px;
}

.text_field {
    margin: 11px 38px 40px 38px;
    display: inline-flex;
}

.text_element {
    margin: 0 4px 0 0;
}

.signIn_text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--grey);
}

.signIn_link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: var(--red);
}

.login_field label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
}

.login_form {
    background: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.inline_form {
    display: flex;
}

.mezzo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey);

    opacity: 0.8;
    background: var(--white-bg);
    border: 1px solid var(--grey);
    border-radius: 40px;
    padding: 12px;
    margin: 2px 38px 10px;
}

:root {
    --red: #D8223A;         /* Primary Color */
    --white-bg: #F0F2F5;    /* BackGround Color */
    --white: #F9F9F9;       /* Form Color */
    --grey: #4F4F4F;        /* Contrast Color */
}


/* Mobile Version */

@media (max-width: 700px) {
    .wrapper {
        align-items: center;
        padding: 0 6px;
        width: 100%;
    }

    nav.nav_container{
        margin: 9px 0  9px;
        flex-direction: column;
        height: 50px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .background_img {
        position: absolute;
        left: -25px;
        top: 128px;

        margin-top: 30px;
    }

    .login_form {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 371px;

        border-radius: 50px 50px 0 0;
        filter: drop-shadow(0px -15px 17px rgba(0, 0, 0, 0.25));
    }

}