<!DOCTYPE html>
<html>
<head>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Non Permette di effettuare la cache della pagina html -->
    <meta http-equiv="Cache-Control" content="no-store" />
    <!-- Css Style -->
    <link rel="stylesheet" href="singlePagestyle.css">
    <!-- Google Font Open Sans Regular400 SemiBold600 Bold700 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google icons check -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Unito .ico -->
    <link rel="shortcut icon" href="https://www.unito.it/sites/default/files/favicon_6.ico" type="image/vnd.microsoft.icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Progetto IUM-tweb</title>

</head>

<body>

<!-- App vue -->
<div id="app">

    <!-- Sezione Nav -->
    <div v-if="ruolo>=0" class="nav_container">
        <div class="wrapper">
            <nav>
                <div class="nav_text">
                    <h5 v-if="ruolo==0">Benvenuto {{username_utente}}</h5>
                    <h5 v-if="ruolo==1">Benvenuto {{username_utente}}</h5>
                    <h5 v-if="ruolo==2" class="nav-item">Ruolo: Guest</h5>
                </div>

                <ul v-if="ruolo==0">
                    <li>
                        <a v-on:click="setHome" role="button">Home</a>
                    </li>
                    <li>
                        <a v-on:click="setPaginaPersonale" role="button">User page</a>
                    </li>
                    <li>
                        <a v-on:click="logout" role="button">Logout</a>
                    </li>
                </ul>

                <ul v-if="ruolo==1">
                    <li>
                        <a v-on:click="setHome" role="button">Home</a>
                    </li>
                    <li>
                        <a v-on:click="setPaginaAmministratoreListaPrenotazioni" role="button">Lista Prenotazioni Utenti </a>
                    </li>
                    <li>
                        <a v-on:click="setPaginaAmministratore" role="button">Pagina Amministratore</a>
                    </li>
                    <li>
                        <a v-on:click="logout" >Logout</a>
                    </li>
                </ul>
                <ul v-if="ruolo==2">
                    <li>
                        <a v-on:click="logout" role="button">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Fine Sezione Nav -->

    <!-- Sezione HomePage -->
    <div v-if="varHome" class="prova" >

        <!--Visualizza Prenotazioni prenotabili e prenota per utente -->
        <div v-if="ruolo==0" >

            <div class="filter_container">
                <div class="filter_wrapper">

                    <nav>
                        <h5>Elenco prenotazioni </h5>
                        <p class="output1">{{message1}}</p>

                        <ul>
                            <li>
                                <button class="filter_button" type="button" v-on:click="getPrenotazioniDisponibili();">
                                    Tutte le materie
                                </button>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn">Seleziona Materia</button>
                                    <div id="myDropdown" class="dropdown-content"  >
                                        <div  v-for="corso in corso">
                                            <a v-on:click="nome_corso=corso.nome_corso;getPrenotazioniDisponibiliCorso();">{{corso.nome_corso}}</a>
                                        </div>

                                    </div>

                                </div>
                                <!--Script per far funzionare il pulsante dropdown-->
                                <script language="JavaScript">
                                    /* When the user clicks on the button,
                                toggle between hiding and showing the dropdown content */
                                    function myFunction() {
                                        document.getElementById("myDropdown").classList.toggle("show");
                                    }

                                    // Close the dropdown menu if the user clicks outside of it
                                    window.onclick = function(event) {
                                        if (!event.target.matches('.dropbtn')) {
                                            var dropdowns = document.getElementsByClassName("dropdown-content");
                                            var i;
                                            for (i = 0; i < dropdowns.length; i++) {
                                                var openDropdown = dropdowns[i];
                                                if (openDropdown.classList.contains('show')) {
                                                    openDropdown.classList.remove('show');
                                                }
                                            }
                                        }
                                    }
                                </script>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


            <!--Per visualizzare l'elenco delle prenotazioni disponibili -->
            <div class="wrapper">
                <div v-for="prenotazione in prenotazioni">

                    <button class="prenotationBtn" type="button" v-on:click="nome_corso=prenotazione.nome_corso; username_docente=prenotazione.username_docente; ora=prenotazione.ora; giorno=prenotazione.giorno; id_prenotazione=prenotazione.id_prenotazione;prenota();">
                        <a class="textBtn">
                            {{prenotazione.nome_corso}} | Docente:{{prenotazione.username_docente}} il {{prenotazione.giorno}} {{prenotazione.ora}}:00
                        </a>
                    </button>


                </div>
            </div>



        </div>

        <!--Visualizza Prenotazioni prenotabili e prenota per amministratore -->
        <div v-if="ruolo==1" >

            <div class="filter_container">
                <div class="fiter_wrapper">
                    <h2>Elenco prenotazioni </h2>
                    <p class="output1">{{message1}}</p>
                </div>
            </div>

            <!--Visualizzo le prenotazioni per l'amministratore, con pulsanti disabilitati -->
            <div class="wrapper">
                <div v-for="prenotazione in prenotazioni">

                    <button type="button" class="prenotationBtn" v-on:click="nome_corso=prenotazione.nome_corso; username_docente=prenotazione.username_docente; ora=prenotazione.ora; giorno=prenotazione.giorno; id_prenotazione=prenotazione.id_prenotazione;prenota();" disabled>
                        <a class="textBtn">
                            {{prenotazione.nome_corso}} | Docente:{{prenotazione.username_docente}} il {{prenotazione.giorno}} {{prenotazione.ora}}:00
                        </a>
                    </button>

                </div>
            </div>



        </div>

        <!--Visualizza Prenotazioni prenotabili e prenota per guest -->
        <div v-if="ruolo==2" >

            <div class="filter_container">
                <div class="filter_wrapper">
                    <h2>Elenco prenotazioni </h2>

                </div>
            </div>

            <div class="wrapper">
                <div v-for="prenotazione in prenotazioni">

                    <button type="button" class="prenotationBtn" disabled>
                        <a class="textBtn">
                            {{prenotazione.nome_corso}} | Docente:{{prenotazione.username_docente}} il {{prenotazione.giorno}} {{prenotazione.ora}}:00
                        </a>
                    </button>


                </div>
            </div>
        </div>

    </div>
    <!-- Fine Sezione HomePage -->

    <!-- Sezione lista prenotazioni per amministratore -->
    <div v-if="varAmministratoreListaPrenotazioni" class="prova">
        <!--Visualizza Prenotazioni prenotate di tutti gli utenti per amministratore -->
        <div v-if="ruolo==1 " class="wrapper">

            <h2>Registro prenotazioni</h2>
            <p>{{message3}}</p>

            <div v-for="lprenotazione in lprenotazioni">
                <button v-if="lprenotazione.stato_prenotazione==1" type="button" class="prenotationBtn1Admin" v-on:click="cusername_utente=lprenotazione.username_utente; nome_corso=lprenotazione.nome_corso; username_docente=lprenotazione.username_docente; ora=lprenotazione.ora; giorno=lprenotazione.giorno; id_prenotazione=lprenotazione.id_prenotazione;delPrenotazioneAmm();" >
                    <a class="textBtn1">
                        Utente:{{lprenotazione.username_utente}} | {{lprenotazione.nome_corso}} | Docente:{{lprenotazione.username_docente}} il {{lprenotazione.giorno}} {{lprenotazione.ora}}:00 | Stato: Prenotata
                    </a>
                </button>
                <button v-if="lprenotazione.stato_prenotazione==-1" type="button" class="prenotationBtn-1" disabled >
                    <a class="textBtn-1">
                        Utente:{{lprenotazione.username_utente}} | {{lprenotazione.nome_corso}} | Docente:{{lprenotazione.username_docente}} il {{lprenotazione.giorno}} {{lprenotazione.ora}}:00 | Stato: Ritirata
                    </a>
                </button>
                <button  v-if="lprenotazione.stato_prenotazione==0" type="button"  class="prenotationBtn0" disabled >
                    <a class="textBtn0">
                        Utente:{{lprenotazione.username_utente}} | {{lprenotazione.nome_corso}} | Docente:{{lprenotazione.username_docente}} il{{lprenotazione.giorno}} {{lprenotazione.ora}}:00 | Stato: Eseguita
                    </a>
                </button>
            </div>

        </div>
    </div>
    <!-- Fine Sezione resoconto -->


    <!-- Sezione Admin -->
    <div v-if="varPaginaAmministratore" class="prova">

        <div class="admin_wrapper">

            <div class="scheduleDisp">

                <!-- Colonna Docente -->
                <div id="docente" class="admin_form">

                    <h4>Docente</h4>

                    <div class="login_field">
                        <!-- Sezione Inserisci/Elimina Docente -->
                        <div id="addDocente">

                            <input v-model="nomeDocente" class="inputForm" type="text" name="nome_docente" id="dname" placeholder="Nome" required autofocus>

                            <input v-model="cognomeDocente" class="inputForm" type="text" id="dsur" name="cognome_docente" placeholder="Cognome" required autofocus>

                            <input v-model="usernameDocente" class="inputForm" type="text" id="dusr" name="username_docente" placeholder="Username" required autofocus>

                            <div class="btnAlign">
                                <input v-on:click="addDocente" id="addDocBtn" class="btnleft" name="addDoc" type="button" value="Aggiungi"/>
                                <input v-on:click="delDocente" id="delDocBtn" class="btnright" name="addDoc" type="button" value="Elimina"/>
                            </div>

                            <p class="output1">{{ docOutput }}</p>

                        </div>
                        <!-- Fine sezione Inserisci/Elimina Docente -->

                        <!-- Sezione Visualizza Docente -->
                        <div id="getDocente" class="output">
                            <div v-for="docente in docente"><p>{{docente.username_docente}}</p></div>
                        </div>
                        <!-- Fine Sezione Visualizza Docente -->
                    </div>

                </div>
                <!-- Fine Colonna Docente -->

                <!-- Colonna Corso -->
                <div id="corso" class="admin_form">
                    <h4>Corso</h4>

                    <div class="login_field">
                        <!-- Sezione Inserisci/Elimina Corso -->
                        <div id="addCorso">

                            <input v-model="nomeCorso" type="text" name="nome_corso" id="cname" class="inputForm" placeholder="Materia" required autofocus>

                            <div class="btnAlign">
                                <input v-on:click="addCorso" id="addCorBtn" class="btnleft" name="addDoc" type="button" value="Aggiungi"/>
                                <input v-on:click="delCorso" id="delCorBtn" class="btnright" name="addDoc" type="button" value="Elimina"/>
                            </div>

                            <p class="output1">{{ corOutput }}</p>

                        </div>
                        <!-- Fine sezione Inserisci/Elimina Corso -->

                        <!-- Sezione Visualizza Corso -->
                        <div id="getCorso" class="output">
                            <div v-for="corso in corso"><p>{{corso.nome_corso}}</p></div>
                        </div>
                        <!-- Fine Sezione Visualizza Corso -->
                    </div>
                </div>

                <!-- Colonna CorsoDocente -->
                <div id="corsoDocente" class="admin_form">
                    <h4>CorsoDocente</h4>

                    <div class="login_field">
                        <!-- Sezione Inserisci/Elimina CorsoDocente -->
                        <div id="addCorsoDocente">

                            <input v-model="usernameDocente1" type="text" name="username_docente" class="inputForm" placeholder="Username" required autofocus>

                            <input v-model="nomeCorso1" type="text" name="cognome_docente" class="inputForm" placeholder="Materia" required autofocus>

                            <div class="btnAlign">
                                <input v-on:click="addCorsoDocente" id="addCorDocBtn" class="btnleft" name="addDoc" type="button" value="Aggiungi"/>
                                <input v-on:click="delCorsoDocente" id="delCorDocBtn" class="btnright" name="addDoc" type="button" value="Elimina"/>
                            </div>

                            <p class="output1">{{ corDocOutput }}</p>

                        </div>
                        <!-- Fine sezione Inserisci/Elimina CorsoDocente -->

                        <!-- Sezione Visualizza CorsoDocente -->
                        <div id="getCorsoDocente" class="output">
                            <div  v-for="corsoDocente in corsoDocente"><p>{{corsoDocente.username_docente}} {{corsoDocente.nome_corso}}</p></div>
                        </div>
                        <!-- Fine Sezione Visualizza CorsoDocente -->
                    </div>
                </div>
                <!-- Fine Colonna CorsoDocente -->

            </div>


        </div>

    </div>
    <!-- Fine Sezione Admin-->

    <!-- Sezione UserPage -->
    <div v-if="varPaginaPersonale" class="prova">
        <div class="wrapper">
            <h2>Pagina personale</h2>
            <p>{{message2}}</p>

            <div v-for="uprenotazione in uprenotazioni">
                <div v-if="uprenotazione.stato_prenotazione==1" class="prenotationBtnWprapper">
                    <button type="button" class="prenotationBtn1" v-on:click="nome_corso=uprenotazione.nome_corso; username_docente=uprenotazione.username_docente; ora=uprenotazione.ora; giorno=uprenotazione.giorno;id_prenotazione=uprenotazione.id_prenotazione; delPrenotazione();">
                        <a class="textBtn1">
                            {{uprenotazione.nome_corso}} | Docente:{{uprenotazione.username_docente}} il {{uprenotazione.giorno}} {{uprenotazione.ora}}:00 | Stato: Prenotata
                        </a>
                    </button>
                    <button type="button" class="prenotationBtnConferma" v-on:click="nome_corso=uprenotazione.nome_corso; username_docente=uprenotazione.username_docente; ora=uprenotazione.ora; giorno=uprenotazione.giorno; id_prenotazione=uprenotazione.id_prenotazione; prenotaPrenotazione();" >
                        <span class="material-symbols-outlined">
                            done
                        </span>
                    </button>
                </div>

                <div v-if="uprenotazione.stato_prenotazione==-1">
                    <button  type="button" class="prenotationBtn-1" disabled >
                        <a class="textBtn-1">
                            {{uprenotazione.nome_corso}} | Docente:{{uprenotazione.username_docente}} il {{uprenotazione.giorno}} {{uprenotazione.ora}}:00 | Stato: Ritirata
                        </a>
                    </button>
                </div>

                <div v-if="uprenotazione.stato_prenotazione==0">
                    <button  type="button"  class="prenotationBtn0" disabled >
                        <a class="textBtn0">
                            {{uprenotazione.nome_corso}} | Docente:{{uprenotazione.username_docente}} il{{uprenotazione.giorno}} {{uprenotazione.ora}}:00 | Stato: Eseguita
                        </a>
                    </button>
                </div>



            </div>

        </div>
    </div>
    <!-- Sezione UserPage -->

    <!-- Sezione Login -->
    <div v-if="ruolo<0" class="header_container">
        <div class="wrapper">
            <header>
                <div class="login_form">
                    <h1 class="title">Bentornato</h1>
                    <div class="login_field_form">
                        <div>
                            <label for="username_utente" class="sr-only">Username:</label>
                        </div>
                        <div>
                            <input type="text" v-model="username_utente" id="username_utente" name="username_utente" placeholder="Username" required autofocus>
                        </div>
                        <div>
                            <label for="password_utente" class="sr-only">Password:</label>
                        </div>
                        <div>
                            <input type="password" v-model="password_utente" id="password_utente" name="password-utente" placeholder="Password" required autofocus>
                        </div>
                        <div class="output1">
                            <p>{{ message }}</p>
                        </div>
                        <div class="singin_button_container">
                            <div>
                                <button v-on:click="autentica" name="SignUpBtn" value="SignIn">Accedi</button>
                            </div>

                            <form action="SignUpServlet" method="get">
                                <button class="signUpBtn" type="submit" name="action" value="Registrazione Utente">Registrati</button>
                            </form>

                            <div>
                                <a v-on:click="autenticaOspite" class="signIn_link" >Accedi come ospite</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="background_img" aria-label="background picture">
                    <img src="signUp/assets/img_bg.svg" alt="Un professore che spiega a due studentesse, illustrazione vettoriale">
                </div>
            </header>
        </div>
    </div>
    <!-- Fine Sezione Login -->

</div>

<script>

    var app = new Vue ({
        el: '#app',
        data: {
            adminOperation:'',
            userOperation:'',
            dispositivo:'browser',

            varHome:false,
            varPaginaAmministratore:false,
            varPaginaPersonale:false,
            varAmministratoreListaPrenotazioni:false,

            username_utente:  '',
            cusername_utente:  '',
            password_utente: '',
            id_prenotazione: '',
            message:' ',
            message1:' ',
            message2:'',
            message3:'',
            ruolo:-1,
            corsi:[],
            prenotazioni: [],
            prenotazione: [],
            lprenotazioni: [],
            lprenotazione: [],
            uprenotazioni: [],
            uprenotazione: [],
            nome_corso: '',
            ora:'',
            giorno: '',
            username_docente: '',
            linkAutentica : 'LoginServlet',
            linkLogout: 'LogoutServlet',
            linkAdmin:'AdminServlet',
            linkUser:'UtenteServlet',

            nomeDocente:"",
            cognomeDocente:  '',
            usernameDocente:  '',
            docOutput: "",
            docente: [],
            nomeCorso:"",
            corOutput: "",
            corso: [],
            usernameDocente1: "",
            nomeCorso1: "",
            corDocOutput: "",
            corsoDocente: [],

        },
        mounted(){
            /** Metodi richiamati all'avvio della pagina*/
            this.getPrenotazioniDisponibili()
            this.getListaPrenotazioni()
            this.getCorso()
            this.getDocente()
            this.getCorsoDocente()

        },
        methods:{
            /** Metodi autenticazione */
            autentica:function(){
                var self = this;

                $.post(this.linkAutentica,{username_utente: this.username_utente, password_utente: this.password_utente,dispositivo: this.dispositivo}, function (data) {
                    if(data==0){
                        self.message="Benvenuto, hai effettuato l'accesso come UTENTE";
                        self.getListaPrenotazioniUtente();
                        self.varHome=true;
                    }
                    if(data==1){
                        self.message="Benvenuto, hai effettuato l'accesso come AMMINISTRATORE";
                        self.varHome=true;
                    }
                    if(data==-1){
                        self.message="Dati inseriti INCORRETTI, riprova!";
                    }
                    self.ruolo=Number(data);




                });

            },
            autenticaOspite:function(){
                var self = this;

                $.post(this.linkAutentica,{username_utente: "guest", password_utente: "guest",dispositivo: this.dispositivo}, function (data) {
                    self.message="Benvenuto, hai effettuato l'accesso come OSPITE";
                    self.ruolo=Number(data);

                });
                this.varHome=true;

            },
            logout:function(){
                var self = this;

                $.post(this.linkLogout,{dispositivo: this.dispositivo}, function (data) {
                    self.message="Logout effettuato con successo";
                    self.ruolo= -1;
                    self.username_utente= "";


                });
                this.message1=" ";
                this.message2=" ";
                this.message3=" ";
                this.varHome=false;
                this.varPaginaAmministratore=false;
                this.varPaginaPersonale=false;
                this.varAmministratoreListaPrenotazioni=false;

            },

            /** Metodi utente */
            getPrenotazioniDisponibili:function(){
                var self = this;

                $.get(this.linkUser,{userOperation : "getPrenotazioniDisponibili",dispositivo: this.dispositivo}, function (data) {
                    self.prenotazioni=data;

                });

            },
            getPrenotazioniDisponibiliCorso:function(){
                var self = this;

                $.get(this.linkUser,{nome_corso: this.nome_corso,userOperation : "getPrenotazioniDisponibiliCorso",dispositivo: this.dispositivo}, function (data) {
                    self.prenotazioni = data;

                });

            },
            getListaPrenotazioni:function(){
                var self = this;

                $.get(this. linkUser,{userOperation : "getListaPrenotazioni",dispositivo: this.dispositivo}, function (data) {
                    self.lprenotazioni=data;

                });

            },
            getListaPrenotazioniUtente:function(){
                var self = this;

                $.get(this. linkUser,{username_utente: this.username_utente,userOperation : "getListaPrenotazioniUtente",dispositivo: this.dispositivo}, function (data) {
                    self.uprenotazioni=data;

                });

            },
            prenota:function (){
                var self = this;

                $.post(this.linkUser,{nome_corso: this.nome_corso,username_utente: this.username_utente,username_docente: this.username_docente,giorno: this.giorno,ora: this.ora,id_prenotazione: this.id_prenotazione,userOperation : "prenota",dispositivo: this.dispositivo}, function (data) {
                    self.message1=data;
                });
                this.getListaPrenotazioniUtente();
                this.getPrenotazioniDisponibili();
                this.getListaPrenotazioni();

            },
            delPrenotazione:function (){
                var self = this;

                $.post(this.linkUser,{nome_corso: this.nome_corso,username_utente: this.username_utente,username_docente: this.username_docente,giorno: this.giorno,ora: this.ora,id_prenotazione: this.id_prenotazione,userOperation : "delPrenotazione",dispositivo: this.dispositivo}, function (data) {
                    self.message2=data;
                });
                this.getListaPrenotazioniUtente();
                this.getPrenotazioniDisponibili();
                this.getListaPrenotazioni();

            },
            prenotaPrenotazione:function (){
                var self = this;

                $.post(this.linkUser,{nome_corso: this.nome_corso,username_utente: this.username_utente,username_docente: this.username_docente,giorno: this.giorno,ora: this.ora,id_prenotazione: this.id_prenotazione,userOperation : "prenotaPrenotazione",dispositivo: this.dispositivo}, function (data) {
                    self.message2=data;
                });
                this.getListaPrenotazioniUtente();
                this.getPrenotazioniDisponibili();
                this.getListaPrenotazioni();

            },

            /** Metodi visualizzazione pagine */
            setHome:function(){
                this.varHome=true;
                this.varPaginaAmministratore=false;
                this.varPaginaPersonale=false;
                this.varAmministratoreListaPrenotazioni=false;
            },
            setPaginaPersonale:function(){
                this.varHome=false;
                this.varPaginaAmministratore=false;
                this.varPaginaPersonale=true;
            },
            setPaginaAmministratore:function(){
                this.varHome=false;
                this.varPaginaAmministratore=true;
                this.varPaginaPersonale=false;
                this.varAmministratoreListaPrenotazioni=false;
            },
            setPaginaAmministratoreListaPrenotazioni:function(){
                this.varHome=false;
                this.varPaginaAmministratore=false;
                this.varPaginaPersonale=false;
                this.varAmministratoreListaPrenotazioni=true;
            },

            /** Metodi amministratore */
            delPrenotazioneAmm:function (){
                var self = this;

                $.post(this.linkAdmin,{nome_corso: this.nome_corso,cusername_utente: this.cusername_utente,username_docente: this.username_docente,giorno: this.giorno,ora: this.ora,id_prenotazione: this.id_prenotazione,adminOperation : "delPrenotazioneAmm",dispositivo: this.dispositivo}, function (data) {
                    self.message3=data;
                });
                this.getListaPrenotazioniUtente();
                this.getPrenotazioniDisponibili();
                this.getListaPrenotazioni();

            },
            addDocente:function(){
                var self = this;

                $.post(this.linkAdmin, {nomeDocente: this.nomeDocente, cognomeDocente: this.cognomeDocente, usernameDocente: this.usernameDocente,adminOperation : "addDocente",dispositivo: this.dispositivo}, function (data) {
                    self.docOutput = data;
                    self.getDocente();
                });

            },
            delDocente:function(){
                var self = this;

                $.post(this.linkAdmin, {usernameDocente: this.usernameDocente,adminOperation : "delDocente",dispositivo: this.dispositivo}, function (data) {
                    self.docOutput = data;
                    self.getDocente();
                });

            },
            getDocente: function(){
                var self = this;

                $.get(this.linkAdmin,{adminOperation : "getDocente",dispositivo: this.dispositivo}, function(data) {
                    self.docente = data;
                });
            },
            addCorso:function(){
                var self = this;

                $.post(this.linkAdmin, {nomeCorso: this.nomeCorso,adminOperation : "addCorso",dispositivo: this.dispositivo}, function (data) {
                    self.corOutput = data;
                    self.getCorso();
                });

            },
            delCorso:function(){
                var self = this;

                $.post(this.linkAdmin, {nomeCorso: this.nomeCorso,adminOperation : "delCorso",dispositivo: this.dispositivo}, function (data) {
                    self.corOutput = data;
                    self.getCorso();
                });

            },
            getCorso: function(){
                var self = this;

                $.get(this.linkAdmin,{adminOperation : "getCorso",dispositivo: this.dispositivo},function(data) {
                    self.corso = data;
                });
            },
            addCorsoDocente:function(){
                var self = this;

                $.post(this.linkAdmin, {usernameDocente1: this.usernameDocente1, nomeCorso1: this.nomeCorso1,adminOperation : "addCorsoDocente",dispositivo: this.dispositivo}, function (data) {
                    self.corDocOutput = data;
                    self.getCorsoDocente();
                    self.getPrenotazioniDisponibili();
                });

            },
            delCorsoDocente:function(){
                var self = this;

                $.post(this.linkAdmin, {usernameDocente1: this.usernameDocente1, nomeCorso1: this.nomeCorso1,adminOperation : "delCorsoDocente",dispositivo: this.dispositivo}, function (data) {
                    self.corDocOutput = data;
                    self.getCorsoDocente();
                    self.getPrenotazioniDisponibili();
                });

            },
            getCorsoDocente: function(){
                var self = this;

                $.get(this.linkAdmin,{adminOperation : "getCorsoDocente",dispositivo: this.dispositivo},function(data) {
                    self.corsoDocente = data;

                });
            }
        }
    });


</script>

</body>
</html>